html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url(imagens/fundo.jpg);
    margin: 0;
    padding: 0;
}

header {
    background-color: #3d001c;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    flex: 1; 
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    padding: 10px; 
    box-sizing: border-box;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: wheat;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.resultados-pesquisa {
    display: none;
}

.item-resultado {
    border: 1px solid #606060;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #fff;
    border-radius: 5px;
}

.item-resultado img {
    max-width: 100%;
    height: auto;
}

.descricao-meta {
    margin: 0.5em 0;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #3d001c;
    color: #fff;
}